<div>
	<a href="/blog">Back</a>
</div>
<br>
<form action="/blog" method="POST">
		<div>
			<label for="">Title</label>
			<input type="text" name="blog[title]" placeholder="Title">
		</div>
		<div>
			<label for="">Image</label>
			<input type="text" name="blog[image]" placeholder="Image Url">
		</div>
		<div>
			<label for="">Content</label>
			<textarea name="blog[content]" cols="30" rows="10"></textarea>
		</div>
		<div>
			<label for="">Category</label>
			<input type="radio" name="blog[category]" value="art"> Art
  			<input type="radio" name="blog[category]" value="development"> Development
  			<input type="radio" name="blog[category]" value="personal" checked> Personal 
		</div>		
		<input type="submit">				
	</form>