<form action="/blog" method="POST">
		<div>
			<label for="">Title</label>
			<input type="text" name="blog[title]" placeholder="Title">
		</div>
		<div>
			<label for="">Image</label>
			<input type="text" name="blog[image]" placeholder="Image Url">
		</div>
		<div>
			<label for="">Content</label>
			<textarea name="blog[content]" cols="30" rows="10"></textarea>
		</div>		
		<input type="submit">				
	</form>