<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vx Blog</title>
	<link rel="stylesheet" type="text/css" href="/semanticUI/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<script src="/semanticUI/semantic.min.js"></script>
</head>
<body>
	<div class="ui inverted menu">
	  	<div class="header item"><i class="terminal icon"></i>Vx Blog</div>
	  	<div class="item right">			
			<div class="ui inverted green button">Sign in</div>			
			<div class="ui inverted orange button">Register</div>			
		  	<div class="ui inverted red button">Sign out</div>		  	
		</div>	  
	</div>
	
